<div class="bs-docs-nav navbar navbar-static-top">
  <ul>
    <li>hello!!!!!</li>
  </ul>

</div>

<h1>Welcome, Sign in!</h1>

<a href="https://slack.com/oauth/authorize?scope=<%=@scopes%>&client_id=<%=ENV['SLACK_KEY']%>&redirect_uri=http://localhost:3000/slack/auth"><img src="https://api.slack.com/img/sign_in_with_slack.png"></a>

<!-- <a href="https://slack.com/oauth/authorize?scope=<%=@scopes%>&client_id=<%=ENV['SLACK_KEY']%>&redirect_uri=https://foodforthought-app.herokuapp.com/slack/auth"><img src="https://api.slack.com/img/sign_in_with_slack.png"></a>
 -->
