/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700'); 
 @import "font-awesome";
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "animate";

.d-inline {
	display: inline-block
}

h1,h2,h3,h4,h5,p,button,a,text,strong {
	font-family: 'Roboto Slab', serif;
}
.avatar-holder {
	top: 4px;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}